openapi: 3.0.3
info:
  title: appdb API
  description: |-
    appdb API 1.7 documentation.<br/>Migration guide <a href="https://rtfm.dbservices.to/#/migrations/api-1.6-to-1.7">is here</a>.
    <br/>
    Status page <a href="https://status.dbservices.to/API/v1.0/spec/">API documentation</a>
  termsOfService: https://appdb.to/info/api
  contact:
    email: appdb@protonmail.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.7"
externalDocs:
  description: Privacy Policy
  url: https://appdb.to/info/privacy
servers:
  - url: https://api.dbservices.to/v1.7/
tags:
  - name: testing
    description: Various APIs for testing and configuration
  - name: libraries
    description: Custom customer libraries
  - name: enhancements
    description: IPA Enhancements
  - name: partner
    description: Partner-related requests
  - name: device
    description: Device configuration manipulation
  - name: customer
    description: End user information and actions
  - name: commands
    description: Device commands and results
  - name: content
    description: Everything that is related to content metadata and public functions
  - name: repositories
    description: Repositories support functions
  - name: publisher
    description: API requests that are related to content publication functions
  - name: legal
    description: Legal documents and information
  - name: p2p
    description: P2P trading of slots of user's own developer accounts
  - name: SDK
    description: API methods that are being used by appdb SDK as well
paths:
  /get_installation_history/:
    post:
      tags:
        - libraries
        - content
      summary: Gets installation history
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ lt ]
              properties:
                start:
                  type: integer
                  description: Start of slice for paging
                length:
                  type: integer
                  description: Length of lice for paging
                lt:
                  type: string
                  description: Device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getInstallationHistoryResponse"
  /import_to_library/:
    post:
      tags:
        - libraries
      summary: Imports object into customer personal library
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ universal_object_identifier ]
              properties:
                universal_object_identifier:
                  type: string
                  description: Universal object identifier from /search_index/
                lt:
                  type: string
                  description: Device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /universal_gateway/:
    post:
      tags:
        - content
        - commands
      summary: Universal gateway for app installation and metadata getting
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ universal_object_identifier ]
              properties:
                id:
                  type: string
                  description: Internal ID if object is not public
                universal_object_identifier:
                  type: string
                  description: Universal object identifier that you can get from any other API responses
                lt:
                  type: string
                  description: Device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/universalGatewayResponse"
  /delete_test_device/:
    post:
      tags:
        - testing
      summary: Removes device from test environment
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st, udid ]
              properties:
                udid:
                  type: string
                  description: Device UDID to be removed
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /get_service_tokens/:
    post:
      tags:
        - testing
      summary: Creates new service token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:

                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getServiceTokensResponse"
  /create_service_token/:
    post:
      tags:
        - testing
      summary: Creates new service token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ type ,st , app_identifier ]
              properties:
                type:
                  $ref: "#/components/schemas/serviceTokenType"
                st:
                  type: string
                  description: Staff token
                app_identifier:
                  type: string
                  default: App identifier that will be using this token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createServiceTokenResponse"
  /delete_service_token/:
    post:
      tags:
        - testing
      summary: Deletes service token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ token, st ]
              properties:
                token:
                  type: string
                  description: Token itself
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /edit_test_device/:
    post:
      tags:
        - testing
      summary: Adds or edits failure domain or/and device with given UDID
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st, udid, failure_domain_identifier ]
              properties:
                udid:
                  type: string
                  description: Device UDID
                failure_domain_identifier:
                  type: string
                  description: Failure domain identifier, see /get_failure_domains/
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/editTestDeviceResponse"
  /get_test_devices/:
    post:
      tags:
        - testing
      summary: Gets devices that assigned to be used for tests
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                udid:
                  type: string
                  description: Filter by UDID


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getTestDevicesResponse"
  /get_failure_domains/:
    post:
      tags:
        - testing
      summary: Gets available failure domains to be assigned to test devices
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getFailureDomainsResponse"
  /get_account_data/:
    post:
      tags:
        - publisher
      summary: Gets publisher account information
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountDataResponse"
  /get_apps/:
    post:
      tags:
        - publisher
      summary: Gets your official apps
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:
                st:
                  type: string
                  description: Staff token
                identifier:
                  type: string
                  description: Identifier to filter apps
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/publisherApp"
  /assign_ipa_to_app/:
    post:
      tags:
        - publisher
      summary: Assigns validated IPA file to app on store for sale
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st, to_app_identifier ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                to_app_identifier:
                  type: string
                  description: App identifier to assign IPA to
                ipa_id:
                  type: string
                  description: IPA identifier to assign. It must to be in "ok" status. Passing nothing will remove App from store
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /delete_product/:
    post:
      tags:
        - publisher
      summary: Deletes in-app product or subscription
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st , identifier, app_identifier ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                app_identifier:
                  type: string
                  description: App identifier
                identifier:
                  type: string
                  description: Product identifier

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /verify_purchase/:
    post:
      tags:
        - SDK
      summary: Verifies in-app purchase. NB! You can also use it on your server
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ installation_uuid, transaction_identifier, device_identifier, customer_identifier, purchase_ticket ]
              properties:
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

                product_identifier:
                  type: string
                  description: Product identifier
                installation_uuid:
                  type: string
                  description: App installation UUID, you can get it from getInstallationUUID method of appdb services framework
                transaction_identifier:
                  type: string
                  description: Transaction identifier that you got from /init_purchase/ request
                customer_identifier:
                  type: string
                  description: App installation UUID, you can get it from getPersistentCustomerIdentifier method of appdb services framework
                device_identifier:
                  type: string
                  description: App installation UUID, you can get it from getPersistentDeviceIdentifier method of appdb services framework
                purchase_ticket:
                  type: string
                  description: Purchase ticket that you've got from ://verifyPurchase= deep-link URI that was passed to you by appdb

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/verifyPurchaseResponse"
  /sync_consumable/:
    post:
      tags:
        - SDK
      summary: Syncs consumable to an app or sets new consumable
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ installation_uuid, product_identifier, customer_identifier, device_identifier, nonce ]
              properties:
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

                product_identifier:
                  type: string
                  description: Product identifier
                customer_identifier:
                  type: string
                  description: Scoped customer identifier, you can get it from getPersistentCustomerIdentifier method of appdb services framework
                device_identifier:
                  type: string
                  description: Scoped device identifier, you can get it from getPersistentDeviceIdentifier method of appdb services framework
                installation_uuid:
                  type: string
                  description: App installation UUID, you can get it from getInstallationUUID method of appdb services framework
                nonce:
                  type: string
                  description: Nonce up to 40 symbols
                new_amount:
                  type: integer
                  description: New amount of consumable remains to set, should be>=0, can only be lower than already stored on appdb server

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/syncConsumableResponse"
  /init_purchase/:
    post:
      tags:
        - SDK
      summary: Initialises in-app purchase or in-app subscription
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ installation_uuid, product_identifier ]
              properties:
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

                product_identifier:
                  type: string
                  description: Product identifier
                installation_uuid:
                  type: string
                  description: App installation UUID, you can get it from getInstallationUUID method of appdb services framework

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/initPurchaseResponse"
  /get_product_metadata/:
    post:
      tags:
        - SDK
      summary: Get in-app product or subscription metadata
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ identifier ]
              properties:

                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

                identifier:
                  type: string
                  description: Product identifier

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inAppProduct"
  /get_products/:
    post:
      tags:
        - publisher
      summary: Get in-app products or subscriptions for app
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:

                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                product_identifier:
                  type: string
                  description: Product identifier for filtering. app_identifier or product_identifier must be defined.
                app_identifier:
                  type: string
                  description: App identifier for filtering. app_identifier or product_identifier must be defined.

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProductsResponse"
  /edit_product/:
    post:
      tags:
        - publisher
      summary: Edits in-app product or subscription metadata
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st , name_json, description_json, icon_uri, app_identifier, price_cents_eur, type, tos_text ]
              properties:
                tos_text:
                  type: string
                  description: Text of terms of service, including delivery time, refund processing time, etc
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                identifier:
                  type: string
                  description: Product identifier. Pass nothing if you are creating new product
                is_enabled:
                  type: string
                  description: Is product enabled, 1 yes 0 no
                app_identifier:
                  type: string
                  description: App identifier where product will be sold
                amount:
                  type: integer
                  description: Amount for consumable products
                name_json:
                  type: string
                  description: JSON-encoded object of language=>string, e.g. en=>test
                description_json:
                  type: string
                  description: JSON-encoded object of language=>string, e.g. en=>test
                price_cents_eur:
                  type: integer
                  description: Price in eurocents, e.g. 100, VAT included
                icon_uri:
                  type: string
                  description: Icon URI
                license_type:
                  $ref: "#/components/schemas/licenseType"
                type:
                  $ref: "#/components/schemas/inAppProductType"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/editProductResponse"
  /edit_app/:
    post:
      tags:
        - publisher
      summary: Edits app metadata or creates new app
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st , label, license_type, genre_name, is_18plus ,publish_at, support_uri ]
              properties:
                use_default_tos:
                  type: integer
                  description: 1 if yes, 0 if no
                use_default_privacy_policy:
                  type: integer
                  description: 1 if yes, 0 if no
                use_default_license:
                  type: integer
                  description: 1 if yes, 0 if no
                tos_text:
                  type: string
                  description: Terms of service text
                support_uri:
                  type: string
                  description: URI for support desk
                privacy_policy_text:
                  type: string
                  description: Text of privacy policy
                website_uri:
                  type: string
                  description: Developer website URI
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                identifier:
                  type: string
                  description: App identifier. Pass nothing if you are creating new app
                label:
                  type: string
                  description: App label for publisher area
                license_type:
                  type: string
                  description: License type
                  enum:
                    - per_user
                    - per_device
                genre_name:
                  type: string
                  description: Genre name, pre-populated from /list_genres/ -> official. Or custom one.
                is_18plus:
                  type: integer
                  description: Is app for adults. Pass 0 if not, 1 if yes
                do_not_sign:
                  type: integer
                  description: Do not sign app during installation requests, 1 yes 0 no
                publish_at:
                  type: integer
                  description: Unix timestamp of publication date once all checks will be completed
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/editAppResponse"
  /enable_account_feature/:
    post:
      tags:
        - legal
        - publisher
      summary: Enables various publishing features
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st, identifier ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

                identifier:
                  type: string
                  description: Internal feature identifier, you can get them from /get_account_data/, available_features



      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /sign_agreement/:
    post:
      tags:
        - legal
      summary: Does legal agreement signature. Returns success if signed successfully.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ,2fa_code, id, signatory_name ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

                id:
                  type: integer
                  description: Agreement ID
                signatory_name:
                  type: string
                  description: Signatory name and surname, just like in /get_legal_entity/
                2fa_code:
                  type: string
                  description: 2 factor auth code


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /get_copyrgiht_claims/:
    post:
      tags:
        - legal
      summary: Gets copyright claims and their status
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCopyrightClaimsResponse"
  /submit_copyright_claim/:
    post:
      tags:
        - legal
      summary: Submits copyright claim
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ url, license_text ]
              properties:
                g-recaptcha-response:
                  type: string
                  description: Recaptcha challenge (if no staff token was provided)
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                url:
                  type: string
                  description: URL where infringement content is located
                name:
                  type: string
                  description: Person full name. Not required if staff token is provided.
                phone:
                  type: string
                  description: Person phone number in international format. Not required if staff token is provided.
                email:
                  type: string
                  description: Person email. Not required if staff token is provided.
                license_text:
                  type: string
                  description: Text of developer license.
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /get_agreements/:
    post:
      tags:
        - legal
      summary: Gets agreements that are required for account
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                required_for:
                  type: string
                  description: Feature that agreement is required for

                ids:
                  type: array
                  description: Filter by agreement IDs
                  items:
                    type: integer
                    description: Agreement ID


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAgreementsResponse"
  /get_legal_entity/:
    post:
      tags:
        - legal
      summary: Gets currently attached legal entity
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/

                id:
                  type: integer
                  description: Filter by legal entity ID


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/editLegalEntityResponse"
  /edit_enhancement_metadata/:
    post:
      tags:
        - enhancements
      summary: Edits Enhancement metadata to be listed in appdb index
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [ id ,lt ]
              properties:
                id:
                  type: integer
                  description: Non-universal enhancement id
                screenshots_uris_by_os_type:
                  $ref: "#/components/schemas/screenshotUrisByOsTypeObject"
                license_text:
                  type: string
                  nullable: true
                  description: License text
                name:
                  type: string
                  description: App name
                tos_text:
                  type: string
                  nullable: true
                  description: Text of terms of service
                is_18plus:
                  type: integer
                  description: Is adult? 1 yes 0 no
                website_uri:
                  type: string
                  nullable: true
                  description: Website URI
                privacy_policy_text:
                  type: string
                  nullable: true
                  description: Privacy policy text
                support_uri:
                  type: string
                  description: URI for support desk
                description:
                  type: string
                  description: Description
                whatsnew:
                  type: string
                  description: What is new
                lt:
                  type: string
                  description: Device link token
                is_public:
                  type: integer
                  description: List IPA in public index or not. 0 no 1 yes
                use_sideloading_patch:
                  type: integer
                  description: Use sideloading patch. 0 no 1 yes
                use_explicit_bundle_id:
                  type: integer
                  description: Use explicit bundle ID. 0 no 1 yes
                use_group_patch:
                  type: integer
                  description: Use app groups patch. 0 no 1 yes
                source_name:
                  type: string
                  description: Source name. E.g. "Bob's library"
                developer_name:
                  type: string
                  description: Developer name
                genre_name:
                  type: string
                  description: Genre name, pre-populated from /list_genres/ -> official. Or custom one.
                min_ios_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_ipados_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_tvos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_macos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_watchos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_visionos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                brand:
                  type: string
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  type: string
                  default: en
                  description: Language code. You can get it from /get_languages/
                query_string:
                  type: string
                  description: Query string to find app to enhance
      responses:
        "200":
          description: Legal file list, filtered by legal file ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    $ref: "#/components/schemas/enhancement"
  /edit_ipa_metadata/:
    post:
      tags:
        - libraries
      summary: Edits IPA metadata to be listed in appdb index
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [ id ,lt ]
              properties:
                lead:
                  type: string
                  description: Lead string
                id:
                  type: integer
                  description: Non-universal IPA id
                screenshots_uris_by_os_type:
                  $ref: "#/components/schemas/screenshotUrisByOsTypeObject"
                license_text:
                  type: string
                  nullable: true
                  description: License text
                name:
                  type: string
                  description: App name
                tos_text:
                  type: string
                  nullable: true
                  description: Terms of service text
                is_18plus:
                  type: integer
                  description: Is adult? 1 yes 0 no
                website_uri:
                  type: string
                  nullable: true
                  description: Website URI
                privacy_policy_text:
                  type: string
                  nullable: true
                  description: Text of privacy policy
                support_uri:
                  type: string
                  description: URI for support desk
                description:
                  type: string
                  description: Description
                whatsnew:
                  type: string
                  description: What is new
                lt:
                  type: string
                  description: Device link token
                is_public:
                  type: integer
                  description: List IPA in public index or not. 0 no 1 yes
                use_sideloading_patch:
                  type: integer
                  description: Use sideloading patch. 0 no 1 yes
                use_explicit_bundle_id:
                  type: integer
                  description: Use explicit bundle ID. 0 no 1 yes
                use_group_patch:
                  type: integer
                  description: Use app groups patch. 0 no 1 yes
                source_name:
                  type: string
                  description: Source name. E.g. "Bob's library"
                developer_name:
                  type: string
                  description: Developer name
                genre_name:
                  type: string
                  description: Genre name, pre-populated from /list_genres/ -> official. Or custom one.
                min_ios_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_ipados_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_tvos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_macos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_watchos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_visionos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                brand:
                  type: string
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  type: string
                  default: en
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Legal file list, filtered by legal file ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    $ref: "#/components/schemas/universalGatewayResponse"
  /edit_official_ipa_metadata/:
    post:
      tags:
        - publisher
      summary: Edits IPA metadata, making it ready for release. If parameter passed, it will be set, otherwise ignored
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [ id ,st ]
              properties:
                id:
                  type: integer
                  description: IPA id

                min_ios_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_ipados_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_tvos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_macos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_watchos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true
                min_visionos_version:
                  type: string
                  description: Minimum version if compatible. If not, null
                  nullable: true

                description:
                  type: string
                  description: Description
                whatsnew:
                  type: string
                  description: What is new
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  type: string
                  default: en
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Legal file list, filtered by legal file ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    $ref: "#/components/schemas/officialIpaInPublisherArea"
  /upload_file/:
    post:
      tags:
        - libraries
        - publisher
        - enhancements
        - content
      summary: Adds file to storage of defined type. Non used files deleted after 1 hour.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [ file, type ]
              properties:
                type:
                  type: string
                  enum:
                    - screenshot
                    - product_icon
                    - license
                    - terms_of_service
                    - privacy_policy
                file:
                  type: string
                  format: binary
                  description: File (image) in PNG format
                st:
                  type: string
                  description: Staff token if staff auth
                lt:
                  type: string
                  description: Device token if device auth
                brand:
                  type: string
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  type: string
                  default: en
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: URI of a file
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/uploadFileResponse"
  /add_legal_file/:
    post:
      tags:
        - legal
      summary: Add supporting legal file to existing legal entity
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [ pdf ,st, legal_entity_id ]
              properties:
                name:
                  type: string
                  description: Document description, e.g. Articles of Association
                legal_entity_id:
                  type: integer
                  description: Legal entity ID
                pdf:
                  type: string
                  format: binary
                  description: PDF file of supporting document
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  type: string
                  default: en
                  description: Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Legal file list, filtered by legal file ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLegalFilesResponse"
  /get_legal_files/:
    post:
      tags:
        - legal
      summary: Gets legal entity legal files
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st, legal_entity_id ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                legal_entity_id:
                  type: integer
                  description: Legal entity ID
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLegalFilesResponse"
  /delete_legal_file/:
    post:
      tags:
        - legal
      summary: Deletes file, attached to legal entity
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st, id ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                id:
                  type: integer
                  description: Legal file ID
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /edit_legal_entity/:
    post:
      tags:
        - legal
      summary: Edits legal entity information (required for official app publication)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ st, address, type, name, country, bank_name, bank_address, bank_iban, bank_swift, signatory_email, signatory_name, signatory_number ]
              properties:
                st:
                  type: string
                  description: Staff token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description: Language code. You can get it from /get_languages/
                type:
                  type: string
                  description: Legal entity type
                  enum:
                    - Physical person
                    - Company
                    - Non-profit
                    - Institution
                id:
                  type: integer
                  description: legal entity ID, if editing. Pass nothing if you are creating legal entity for the first time
                name:
                  type: string
                  description: Legal entity name. If entity is physical person, full name of person
                country:
                  type: string
                  description: Country where person/legal entity is resident
                vat_number:
                  type: string
                  description: VAT number if applicable
                registry_code:
                  type: string
                  description: Code of company in national registry
                bank_name:
                  type: string
                  description: Bank name for payouts
                bank_swift:
                  type: string
                  description: Bank BIC/SWIFT code
                bank_address:
                  type: string
                  description: Bank address
                bank_iban:
                  type: string
                  description: IBAN or account number of legal entity in this bank
                address:
                  type: string
                  description: Address
                representative_name:
                  type: string
                  description: Representative full name
                representative_number:
                  type: string
                  description: Representative phone number in international format
                representative_email:
                  type: string
                  description: Representative email
                representative_position:
                  type: string
                  description: Representative position in legal entity
                signatory_name:
                  type: string
                  description: Agreements signatory full name
                signatory_number:
                  type: string
                  description: Agreements signatory phone number in international format
                signatory_email:
                  type: string
                  description: Agreements signatory email
                signatory_position:
                  type: string
                  description: Agreements signatory position in legal entity


      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/editLegalEntityResponse"

  /process_purchase/:
    post:
      tags:
        - customer
      summary: Processes in-app purchase or subscription
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Operation to do. Default empty
                  enum:
                    - confirm
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                purchase_ticket:
                  type: string
                  description: Purchase ticket that is received from SDK
                app_identifier:
                  type: string
                  description: Application identifier
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: object
                    properties:
                      product:
                        $ref: "#/components/schemas/inAppProduct"
                      redirect_uri:
                        type: string
                        description: URI redirect to in case of next_action=redirect or next_action=return_to_app
                        nullable: true
                      next_action:
                        type: string
                        description: Next action identifier
                        enum:
                          - redirect
                          - confirm
                          - return_to_app
                      status:
                        $ref: "#/components/schemas/transactionStatus"
                      renews_at:
                        type: integer
                        description: Unix timestamp of subscription renewal time
                        nullable: true
                      device_model:
                        type: string
                        description: Customer device model
                      due_cents_eur:
                        type: number
                        description: How many EUR due to buy this product
                      notice:
                        type: string
                        description: Human readable notice for this purchase
                      tos_text:
                        type: string
                        nullable: true
                        description: Text of terms of service



  /process_redirect/:
    post:
      tags:
        - content
      summary: Processes redirect to file hosting
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                t:
                  type: string
                  description: Download ticket from /universal_gateway/
                rt:
                  type: string
                  description: Redirection ticket
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    oneOf:
                      - type: object
                        properties:
                          jobs_quote:
                            type: string
                            nullable: true
                            description: Steve Jobs quote to remember and adore
                          wait:
                            type: integer
                            description: How much you should wait till request plaintext link with redirection_ticket
                          redirection_ticket:
                            type: string
                            description: redirection ticket itself, should be passed to this method as "rt"
                      - type: object
                        properties:
                          link:
                            type: string
                            description: Plaintext link to redirect to

  /list_genres/:
    get:
      tags:
        - content
      summary: Lists categories
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: object
                    description: Associative array content_type=>array genre objects
                    properties:
                      $type:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Genre ID
                            name:
                              type: string
                              description: Genre name
                            content_amount:
                              type: integer
                              description: How many apps/books of this category exist on appdb
  /list_artists/:
    post:
      tags:
        - content
      summary: Lists app developers
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: Artist IDs to filter
                  items:
                    type: integer
                    description: Artist ID
                name:
                  type: string
                  description: Name to filter
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Artist ID
                        name:
                          type: string
                          description: Artist name
                        website:
                          type: string
                          description: Artist website
                          nullable: true
                        support:
                          type: string
                          description: Artist support website
                          nullable: true
  /get_languages/:
    get:
      tags:
        - content
      summary: Gets available language codes for translation
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: object
                    properties:
                      $key:
                        description: language code=> to properties
                        type: object
                        properties:
                          name:
                            type: string
                            description: language name
                          translator:
                            type: string
                            description: Translation credits

  /edit_repo/:
    post:
      tags:
        - repositories
      summary: Edits or creates repository to be listed in your library or publicly
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ lt ]
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                id:
                  type: integer
                  description: Repository ID for editing. If not defined, creates new
                is_public:
                  type: integer
                  default: 0
                  description: Set to 1 to make it public
                url:
                  type: string
                  description: Repo URL

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/editRepoResponse"
  /get_pages/:
    post:
      tags:
        - content
      summary: Gets pages with text content
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ category ]
              properties:
                start:
                  type: integer
                  description: Start of slice for paging
                length:
                  type: integer
                  description: Length of lice for paging
                category:
                  type: string
                  enum:
                    - news
                    - articles
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                id:
                  type: integer
                  description: Filter by page ID
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: array
                    description: Pages
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Page ID
                        title:
                          type: string
                          description: Page title
                        added:
                          type: integer
                          description: UNIX TIMESTAMP of date of page addition
                        text:
                          type: string
                          description: Page HTML code. Returned only if filtering by ID is defined
                          nullable: true
  /get_promotions/:
    post:
      tags:
        - content
      summary: Gets promotions to display in your app
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: object
                    description: Promotions by type
                    properties:
                      banners:
                        default: [ ]
                        type: array
                        items:
                          type: object
                          properties:
                            image:
                              type: string
                              description: Image URL
                            url:
                              type: string
                              description: URL to redirect to
                      pages:
                        default: [ ]
                        type: array
                        description: Text promotions
                        items:
                          type: string
                          description: HTML code of promotion
                      content:
                        default: [ ]
                        type: array
                        description: Content promotions
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: App name
                            store:
                              type: string
                              description: Store of app
                            id:
                              type: integer
                              description: Promotion ID
                            type:
                              $ref: "#/components/schemas/contentType"
                            lead:
                              type: string
                              description: Lead string
                            trackid:
                              type: integer
                              description: Promotion app trackid
                            brand:
                              type: integer
                              description: Brand where app is promoted

  /get_customer_profile/:
    post:
      tags:
        - customer
      summary: Gets customer profile information
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AuthenticatedDeviceRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    $ref: "#/components/schemas/customerProfile"
  /get_update_ticket/:
    post:
      tags:
        - commands
      summary: Gets action ticket that can be used to check available app updates via /get_updates/
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AuthenticatedDeviceRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: string
                    description: Update ticket itself
  /get_action_ticket/:
    post:
      tags:
        - device
      summary: Gets action ticket that can be used for auth without link token. Please note that action tickets for some actions (like certificate attachment) does not expire, despite of saying in API response
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AuthenticatedDeviceRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: object
                    properties:
                      action_ticket:
                        type: string
                        description: Action ticket itself
                      expires_at:
                        type: integer
                        description: UNIX TIMESTAMP of date of expiration of ticket
  /edit_plus_dev_account_p2p_settings/:
    post:
      tags:
        - p2p
      summary: Edits settings of p2p trading of slots on your own developer account. Returns success=true if configuration succeeded
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/editPlusDevAccountP2PSettingsRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /edit_plus_dev_account/:
    post:
      tags:
        - device
      summary: Edits or adds your own developer account. You must to pass otp or password. After receiving success, request /get_configuration/ to get account status
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ lt ]
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                appleid:
                  type: string
                  description: Apple ID
                password:
                  type: string
                  description: Plaintext password
                otp:
                  type: string
                  description: One time password
                is_sms_auth:
                  type: integer
                  description: Additionally, request SMS to first trusted phone number
                  default: 0
                  enum:
                    - 1
                    - 0
                shared_with_emails:
                  type: array
                  description: Array of emails of friends/relatives to share account with
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /search_index/:
    post:
      tags:
        - content
      summary: Search in appdb index
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                type:
                  $ref: "#/components/schemas/newContentType"
                name:
                  type: string
                  description: Name
                genre_id:
                  type: integer
                  description: Genre id, 0 if unknown, see /list_genres/
                source_name:
                  type: string
                  description: Source name
                developer_name:
                  type: string
                  description: Developer name, you can get it from /list_developers/
                cents_min:
                  type: integer
                  description: Minimum price in cents
                cents_max:
                  type: integer
                  description: Max price in cents
                compatibility:
                  type: string
                  description: OS type for compatibility check
                  enum:
                    - ios
                    - ipados
                    - visionos
                    - macos
                    - watchos
                    - tvos
                start:
                  type: integer
                  description: Slice start for paging
                  default: 0
                length:
                  type: integer
                  description: Slice length for paging
                  default: 25

      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        object_hash:
                          type: string
                          description: Object hash
                        icon_uri:
                          type: string
                          description: Icon URI
                        name:
                          type: string
                          description: Object name
                        developer_name:
                          type: string
                          description: Developer name
                        type:
                          $ref: "#/components/schemas/newContentType"
                        genre_name:
                          type: string
                          description: Genre name
                        universal_object_identifier:
                          type: string
                          description: Universal object identifier
                        version:
                          type: string
                          description: Object version
                        source_name:
                          type: string
                          description: Source name
                        lead:
                          type: string
                          nullable: true
                          description: Short description
                        updated_at:
                          type: string
                          description: Unix timestamp of object update time
                        price_cents:
                          type: string
                          description: Object price in cents
                        is_compatibility_unknown:
                          type: integer
                          description: 1 if yes
                        min_ios_version:
                          type: string
                          description: Minimum version if compatible. If not, null
                          nullable: true
                        min_ipados_version:
                          type: string
                          description: Minimum version if compatible. If not, null
                          nullable: true
                        min_tvos_version:
                          type: string
                          description: Minimum version if compatible. If not, null
                          nullable: true
                        min_macos_version:
                          type: string
                          description: Minimum version if compatible. If not, null
                          nullable: true
                        min_watchos_version:
                          type: string
                          description: Minimum version if compatible. If not, null
                          nullable: true
                        min_visionos_version:
                          type: string
                          description: Minimum version if compatible. If not, null
                          nullable: true



  /force_app_management/:
    post:
      tags:
        - commands
      summary: Forces app management for apps that are not installed via appdb, so appdb can update them
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ lt, bundle_id ]
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                bundle_id:
                  type: string
                  description: App bundle ID
                name:
                  type: string
                  description: App name
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /retry_command/:
    post:
      tags:
        - commands
      summary: Sends command to device again
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ lt, uuid ]
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                uuid:
                  type: string
                  description: Command UUID to retry
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
  /fix_command/:
    post:
      tags:
        - commands
      summary: Attempts to fix fixable commands
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ lt, uuid ]
              properties:
                lt:
                  type: string
                  description: device link token
                brand:
                  type: string
                  default: appdb
                  enum:
                    - appdb
                    - AppAddict
                  description: Brand that API is used for
                lang:
                  default: en
                  type: string
                  description:
                    Language code. You can get it from /get_languages/
                uuid:
                  type: string
                  description: Command UUID to fix
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /get_partner_stats/:
    post:
      tags:
        - partner
      summary: Gets stats of partner
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/getPartnerStatsRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    $ref: "#/components/schemas/getPartnerStatsResponse"
  /get_features/:
    post:
      tags:
        - commands
      summary: Gets available features to be used in /install/ request
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AuthenticatedDeviceRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/installationFeature"
  /get_enterprise_certs/:
    post:
      tags:
        - device
      summary: Gets available free enterprise certificates for signing
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AuthenticatedDeviceRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
                    description: Was request successful or not
                  total:
                    type: integer
                    nullable: true
                    default: null
                    description: Null if no paging/counting is provided
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          default: Certificate name
                        id:
                          type: string
                          default: ID
  /get_dev_credentials_providers/:
    post:
      tags:
        - device
      summary: Gets providers for developer credentials (to import certificate from)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AuthenticatedDeviceRequest"
      responses:
        "200":
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    default: [ ]
                    items:
                      $ref: "#/components/schemas/Error"
                  success:
                    type: boolean
                    default: true
[...]
